#CampaignSelected{
    display: none;
}

#FinishedCharacter{
    display: none;
}

#BuildCharacter{
    display: block;
}

#RaceSelector{
    display: none;
}

#WarnStats{
    display: none;
}

#WarnRace{
    display: none;
}

#WarnClass{
    display: none;
}